* {
  padding: 0%;
  margin: 0px;
}

/*-----------------header.index-------------------*/
.header {
  background-image: url(/Img/Captura-de-pantalla.2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header ul {
  padding: 2rem;
  list-style-type: none;
}

.header li {
  display: inline-block;
}

.header a {
  text-decoration: none;
  color: aliceblue;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  background-color: #021216;
  font-size: 1.2rem;
  padding: 1.1rem;
}

.header .titulo {
  color: #09040afb;
  font-size: 10rem;
  padding: 2rem;
  text-align: center;
}

.contendor {
  width: 100%;
  margin: 0%auto;
  text-align: center;
  font-size: 2rem;
}

.header__navbar--principal {
  text-align: center;
  font-size: 2rem;
}

/*-------contenido---------*/
.contenedorFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.section__contenido {
  background-color: #ffe4c4;
  padding: 3rem;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
}

.img__locales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffe4c4;
  margin: 2rem;
  padding: 2rem;
}

.img__locales__img {
  width: 50%;
}

/*-----------------footer---------------------------*/
.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer {
  background-color: #151418;
  color: white;
  padding: 1rem;
  font-size: 1rem;
}

.footer menu {
  list-style-type: none;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

/*----------------contacto-----------------*/
.header__titulo {
  font-size: 3rem;
  text-align: center;
}

.contacto {
  padding: 15rem 20px;
  margin: auto;
  width: 450px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: .4;
  background-image: url(/Img/Captura-de-pantalla.2.png);
}

.titulo {
  margin-bottom: 20px;
  text-align: center;
  margin: 4rem;
  color: #050101;
}

.input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
}

.main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  background-image: url(/Img/cookies__harripotter.png);
  background-color: #f7ddaf;
}

/*-------------TIENDA----------------*/
.tienda {
  background-color: #f8d196;
  margin-bottom: 20px;
  text-align: center;
  margin: 1rem;
  border: 1px solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.compras {
  margin: 2rem;
}

/*---------------Galeria--------------*/
.galeria {
  background-color: rgba(207, 206, 202, 0.973);
  font-size: 30px;
  margin: 0;
  display: -ms-grid;
  display: grid;
}

.galeria .imagenes {
  display: -ms-grid;
  display: grid;
  justify-items: end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.galeria .titulo {
  color: white;
}

/*------------Blog--------------*/
.blog {
  color: #0f0f0e;
  padding: 2rem;
  font-size: 30px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.blog__background {
  background-color: #f3dc91;
}

.comentarios {
  color: #4840c0;
}

.texto {
  color: black;
  display: -ms-grid;
  display: grid;
}
/*# sourceMappingURL=estilos.css.map */