//------- MENU DE NAVEGACION----------//
    .header__titulo{
    color: #000000fb;
    padding: 2rem;
    text-align: center;}  

.contendor{
    width: 100%;
    margin: 0%auto;
    text-align: center;
    font-size: 1rem;
}

    .img-fluid{
        border-radius:150px;
    }

.navbar navbar-expand-lg navbar-light bg-light{
    font-size: 2rem;
}