*{
    padding: 0%;
    margin: 0px;
    box-sizing: 0;
}
@import "header";
@import "footer";
@import "condicionales";
@import "bucles";
@import "maps";
@import "extend";
@import "mixin";

/*-------contenido---------*/
.contenedorFlex{
    display: flex 
    
}


.section__contenido{
    background-color: #f1d5b2;
    padding: 5rem;
    font-size: 1.2rem;
    line-height: 2rem;
}
.index{
    color: rgba(80, 82, 82, 0.863);
}
.img__locales{
    display: flex;
    text-align: center;
    padding: 3rem;
    max-width: 50%;
    width: 50%;
    margin: 1rem;
}

/*----------------contacto-----------------*/
.header__titulo{
    font-size: 3rem;
    text-align: center;
.titulo{
        margin-bottom: 20px;
    text-align: center;
    margin: 4rem;
    color: rgb(5, 1, 1);}
}
.contacto{
    padding: 15rem 20px;
    margin: auto;
    width: 450px;
    display: grid;
    justify-items: center;
    justify-content: center;
    opacity: .4;
    background-image: url(/Img/Captura-de-pantalla.2.png);
}
.input{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
}

.main{
    box-sizing: border-box;
}

.body{
    background-image: url(/Img/cookies__harripotter.png);
    background-color: rgb(247, 221, 175);
}

/*-------------TIENDA----------------*/

.tienda{
    background-color: #f1d5b2;
    text-align: center;
    margin: 1rem;
}

.tienda-img{
    display: grid;
    width: 50%;
    margin: auto;
    max-width: 50%;
}

.compras{
    margin: 2rem
}


/*---------------Galeria--------------*/

.galeria{
    background-color: #f1d5b2;
    font-size: 30px;
    margin: 0;
    
    .imagenes{
        display: flex;
        justify-items: end;
        justify-content: start;
        margin:0rem;
        padding: 4%;
        width: 50%;
        margin: auto;
        max-width: 50%;
        
    }
    .titulo{
        color: rgb(243, 234, 234);
    }
    img-froozen{
    padding: 10%;
    }
}




/*------------Blog--------------*/

.blog{
    color: rgb(15, 15, 14);
    padding: 2rem;
    font-size: 30px;
    display: grid;
    justify-items: center
}
    .blog__background{
    background-color: rgb(245, 229, 176);
}

.comentarios{
    color: rgb(72, 64, 192);
}

.texto{
    color: black;
    display: grid;
    
}



